metadata/xsd/page-definition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:simpleType name="idType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="kindType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="blueprint" />
      <xs:enumeration value="overlay" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="propKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="static" />
      <xs:enumeration value="binding" />
      <xs:enumeration value="expression" />
      <xs:enumeration value="action" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="operationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="merge" />
      <xs:enumeration value="replace" />
      <xs:enumeration value="remove" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dataSourceKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="static" />
      <xs:enumeration value="supabase" />
      <xs:enumeration value="http" />
      <xs:enumeration value="service" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="rbacType">
    <xs:attribute name="allow" type="xs:string" use="optional" />
    <xs:attribute name="deny" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="propType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="kind" type="propKind" use="required" />
        <xs:attribute name="source" type="xs:string" use="optional" />
        <xs:attribute name="path" type="xs:string" use="optional" />
        <xs:attribute name="actionId" type="xs:string" use="optional" />
        <xs:attribute name="format" type="xs:string" use="optional" />
        <xs:attribute name="contract" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="propsType">
    <xs:sequence>
      <xs:element name="Prop" type="propType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="componentType">
    <xs:sequence>
      <xs:element name="RBAC" type="rbacType" minOccurs="0" />
      <xs:element name="Props" type="propsType" minOccurs="0" />
      <xs:element name="Children" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Component" type="componentType" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="idType" use="required" />
    <xs:attribute name="type" type="xs:string" use="optional" />
    <xs:attribute name="operation" type="operationType" use="optional" />
  </xs:complexType>

  <xs:complexType name="regionType">
    <xs:sequence>
      <xs:element name="Component" type="componentType" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="idType" use="required" />
    <xs:attribute name="operation" type="operationType" use="optional" />
  </xs:complexType>

  <xs:complexType name="regionsType">
    <xs:sequence>
      <xs:element name="Region" type="regionType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="jsonType">
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="contractFieldType">
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="path" type="xs:string" use="optional" />
    <xs:attribute name="description" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="contractType">
    <xs:sequence>
      <xs:element name="Field" type="contractFieldType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dataValueType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="dataContainerType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Field" type="dataFieldType" />
      <xs:element name="Object" type="dataObjectType" />
      <xs:element name="Array" type="dataArrayType" />
      <xs:element name="Value" type="dataValueType" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="dataFieldType">
    <xs:complexContent>
      <xs:extension base="dataContainerType">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="type" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dataObjectType">
    <xs:complexContent>
      <xs:extension base="dataContainerType">
        <xs:attribute name="name" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dataArrayType">
    <xs:complexContent>
      <xs:extension base="dataContainerType">
        <xs:attribute name="name" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dataSourceType">
    <xs:sequence>
      <xs:element name="RBAC" type="rbacType" minOccurs="0" />
      <xs:element name="Contract" type="contractType" minOccurs="0" />
      <xs:element name="Json" type="jsonType" minOccurs="0" />
      <xs:element name="Config" minOccurs="0" maxOccurs="1">
        <xs:complexType mixed="true">
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Data" type="dataContainerType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="idType" use="required" />
    <xs:attribute name="kind" type="dataSourceKind" use="required" />
    <xs:attribute name="operation" type="operationType" use="optional" />
  </xs:complexType>

  <xs:complexType name="dataSourcesType">
    <xs:sequence>
      <xs:element name="DataSource" type="dataSourceType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="actionType">
    <xs:sequence>
      <xs:element name="RBAC" type="rbacType" minOccurs="0" />
      <xs:element name="Config" minOccurs="0" maxOccurs="1">
        <xs:complexType mixed="true">
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="idType" use="required" />
    <xs:attribute name="kind" type="xs:string" use="required" />
    <xs:attribute name="operation" type="operationType" use="optional" />
  </xs:complexType>

  <xs:complexType name="actionsType">
    <xs:sequence>
      <xs:element name="Action" type="actionType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pageType">
    <xs:sequence>
      <xs:element name="Title" type="xs:string" minOccurs="0" />
      <xs:element name="Regions" type="regionsType" minOccurs="0" />
      <xs:element name="DataSources" type="dataSourcesType" minOccurs="0" />
      <xs:element name="Actions" type="actionsType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="idType" use="required" />
  </xs:complexType>

  <xs:complexType name="overlayType">
    <xs:sequence>
      <xs:element name="Regions" type="regionsType" minOccurs="0" />
      <xs:element name="Components" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Component" type="componentType" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DataSources" type="dataSourcesType" minOccurs="0" />
      <xs:element name="Actions" type="actionsType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="PageDefinition">
    <xs:complexType>
      <xs:choice>
        <xs:element name="Page" type="pageType" />
        <xs:element name="Overlay" type="overlayType" />
      </xs:choice>
      <xs:attribute name="kind" type="kindType" use="required" />
      <xs:attribute name="module" type="xs:string" use="required" />
      <xs:attribute name="route" type="xs:string" use="required" />
      <xs:attribute name="schemaVersion" type="xs:string" use="required" />
      <xs:attribute name="contentVersion" type="xs:string" use="required" />
      <xs:attribute name="featureCode" type="xs:string" use="optional" />
      <xs:attribute name="tenant" type="xs:string" use="optional" />
      <xs:attribute name="role" type="xs:string" use="optional" />
      <xs:attribute name="variant" type="xs:string" use="optional" />
      <xs:attribute name="locale" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>
